telegram:
  token: 123
  channel: 456

email:
  host: localhost
  port: 4444
  user: user@user.usr
  pass: passpasspass
  templates_path: "../../assets/email-templates"

broker:
  host:
  port:

service:
  port: 8080
  address: 127.0.0.1